.productList {
  display: grid;
  gap: 16px;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}

@media screen and (min-width: 860px) {
  .productList {
    grid-template-columns: repeat(
      auto-fit,
      minmax(400px, calc(100% / 3 - 16px))
    );
    align-items: center;
    justify-content: center;
  }
}
